{% extends "base.html" %}
{% load staticfiles %}

{% block heading %}

<section class="logo nottingham">
    <h1><strong>Page</strong> Not Found.</h1>

    <p><a href="{% url 'home' %}">Go back to the home page.</a></p>
</section>

{% endblock %}
