{% load staticfiles %}<!DOCTYPE html>

<html lang="en-gb" data-minimum-price="{{ minimum_price }}">

<head>
    <meta charset="utf-8">
    <title>{% block htmltitle %}A&nbsp;MAZE BY TRAIN{% endblock %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" integrity="sha256-3dkvEK0WLHRJ7/Csr0BZjAWxERc5WH7bdeUya2aXxdU= sha512-+L4yy6FRcDGbXJ9mPG8MT/3UCDzwR9gPeyFNMCtInsol++5m3bk2bXWKdZjvybmohrAsn3Ua5x8gfLnbE1YkOg==" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:500,900italic,300,500italic,300italic,900">
    <link rel="stylesheet" href="{% static 'style.css' %}">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script defer src="https://cdn.jsdelivr.net/jquery/2.1.4/jquery.min.js" crossorigin="anonymous" integrity="sha256-ImQvICV38LovIsvla2zykaCTdEh1Z801Y+DSop91wMU="></script>
    <script defer src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha256-KXn5puMvxCw+dAYznun+drMdG1IFl3agK0p/pqT9KAo= sha512-2e8qq0ETcfWRI4HJBzQiA3UoyFk6tbNyG+qSaIBZLyW9Xf3sWZHN/lxe9fTh1U45DpPf07yj94KsUHHWe4Yk1A==" crossorigin="anonymous"></script>
</head>

<body>

<div class="container">

<nav class="navbar navbar-inverse navbar-static-top">
    <div class="container-fluid">
        <ul class="nav navbar-nav">
            <li class="{% block nav_homepage %}{% endblock %}">
                <a href="{% url 'home' %}">The Adventure.</a>
            </li>
            <li class="{% block nav_book %}{% endblock %}">
                <a href="{% url 'book' %}">Book Now.</a>
            </li>
            <li class="{% block nav_contact %}{% endblock %}">
                <a href="{% url 'contact' %}">Contact Me.</a>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="https://twitter.com/amazebytrain" title="Twitter"><i class="fa fa-twitter"></i> Twitter.</a></li>
            <li><a href="https://instagram.com/amazebytrain" title="Instagram"><i class="fa fa-instagram"></i> Instagram.</a></li>
        </ul>
    </div>
</nav>

{% block heading %}{% endblock %}

{% block messages %}
<div class="col-md-12">
{% if messages %}
    {% for message in messages %}
        <div class="alert alert-{{ message.level_tag }} {{ message.tags }}" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true"><i class="fa fa-times-circle"></i></span></button>
            {{ message }}
        </div>
    {% endfor %}
{% endif %}
</div>
{% endblock %}

{% block body %}{% endblock %}

{% block footer %}{% endblock %}

</div>

</body>

</html>
