{% extends "base.html" %}
{% load staticfiles %}

{% block nav_book %}active{% endblock %}

{% block heading %}
<section class="col-md-12">
    <h1><strong>Book</strong> Your Place Now.</h1>
</section>

<main class="booking-info clearfix">
    <section class="body col-md-4">
        <div class="clearfix">
            <i class="fa fa-gbp fa-4x pull-left"></i>
            <strong>Current minimum is <span class="minimum-display">£{{ minimum_price }}</span> per passenger</strong>. The more you pay, the less it costs for everyone else!
        </div>
    </section>

    <section class="body col-md-4">
        <div class="clearfix">
            <i class="fa fa-train fa-4x pull-left"></i>
            All bookings include train travel <strong>to and from Berlin</strong>, including a <strong>sleeper train</strong> on the way there.
        </div>
    </section>

    <section class="body col-md-4">
        <div class="clearfix">
            <i class="fa fa-clock-o fa-4x pull-left"></i>
            <strong>Booking closes 18th February 2016</strong>. The waiting list will open after that.
        </div>
    </section>

</main>
{% endblock %}

{% block body %}
<h2 class="col-md-12"><strong>Passengers</strong>.</h2>

<!-- New passenger -->

<p class="col-md-12">
    <button type="button" class="btn btn-success btn-lg passenger-add-button" role="button" data-toggle="modal" data-target="#new_passenger"><i class="fa fa-user-plus"></i> Add a passenger</button>
</p>

<form id="new_passengerForm">
<div class="modal fade" id="new_passenger" tabindex="-1" role="dialog" aria-labelledby="new_passengerLabel" data-state="new">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="fa fa-times-circle"></i></span></button>
                <h3 class="modal-title" id="new_passengerLabel"><strong>Add</strong> a passenger.</h3>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="passenger_real_name">Preferred name</label>
                    <input type="text" class="form-control" id="passenger_real_name" name="real_name" required>
                    <p class="help-block">The name you want us to use.</p>
                </div>

                <div class="form-group">
                    <label for="passenger_passport_name">Name on passport</label>
                    <input type="text" class="form-control text-uppercase" id="passenger_passport_name" name="passport_name" required placeholder="">
                    <p class="help-block">This name will be passed to the train companies to comply with international law. It will not be used for any other reason.</p>
                </div>

                <div class="form-group">
                    <label for="passenger_mobile">Mobile phone number</label>
                    <input type="text" class="form-control" id="passenger_mobile" name="mobile" required pattern="[0-9 -+]+" placeholder="Used for emergency contact only.">
                </div>

                <label>Accommodation</label>

                <p>Applies to travel from Cologne to Berlin on the 18th April, except wheelchair accessible travel, which applies to the entire journey. Booking fees applied to each transaction, not per passenger.</p>

                <div class="radio">
                    <label class="text-nowrap">
                        <input type="radio" name="room" id="room_shared" value="shared" checked>
                        Shared compartment
                        <i class="fa fa-bed"></i>
                        <i class="fa fa-bed"></i>
                        <i class="fa fa-bed"></i>
                    </label>
                </div>
                <div class="radio">
                    <label class="text-nowrap">
                        <input type="radio" name="room" id="room_wheelchair" value="wheelchair">
                        Wheelchair accessible travel
                        <i class="fa fa-wheelchair"></i>
                        <i class="fa fa-bed"></i>
                    </label>
                </div>
                <div class="radio">
                    <label class="text-nowrap">
                        <input type="radio" name="room" id="room_double" value="double">
                        Double room (£15 booking fee)
                        <i class="fa fa-bed"></i>
                        <i class="fa fa-bed"></i>
                    </label>
                </div>
                <div class="radio">
                    <label class="text-nowrap">
                        <input type="radio" name="room" id="room_single" value="single">
                        Single room (£30 booking fee)
                        <i class="fa fa-bed"></i>
                    </label>
                </div>

                <label for="other_requirements">Other requirements</label>
                <p>If you have any other requirements, e.g. dietary, religious, social, and so on, please let us know and we'll do our best to accommodate you.</p>
                <textarea name="other_requirements" id="other_requirements" class="form-control" rows="3"></textarea>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Add passenger</button>
            </div>
        </div>
    </div>
</div>
</form>

<!-- Existing passengers -->

<script type="text/template" id="passenger_template">
    <div class="col-md-6" data-passenger="<%- idx %>">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><strong><%- real_name %></strong></h3>
            </div>
            <div class="panel-body">
                <dl class="dl-horizontal">
                    <dt title="Accommodation">Accommodation</dt>
                    <dd>
                    <% if (room === "single") { %>
                        Single room
                        <span class="text-nowrap">
                    <% } else if (room === "double") { %>
                        Double room
                        <span class="text-nowrap"><i class="fa fa-bed"></i>
                    <% } else if (room === "shared") { %>
                        Shared compartment
                        <span class="text-nowrap"><i class="fa fa-bed"></i>
                        <i class="fa fa-bed"></i>
                    <% } else if (room === "wheelchair") { %>
                        Wheelchair accessible travel
                        <span class="text-nowrap"><i class="fa fa-wheelchair"></i>
                    <% } %>
                    <i class="fa fa-bed"></i></span>
                    </dd>
                    <dt title="Name on passport">Name on passport</dt>
                    <dd class="text-uppercase"><%- passport_name %></dd>
                    <dt title="Mobile number">Mobile number</dt>
                    <dd><%- mobile %></dd>
                    <dt title="Other requirements">Other requirements</dt>
                    <dd class="text-nowrap text-overflow"><%- other_requirements %></dd>
                </dl>
            </div>
            <div class="panel-footer text-right">
                <button type="button" class="btn btn-sm btn-warning passenger-change-button" data-passenger="<%- idx %>" role="button" data-toggle="modal" data-target="#new_passenger"><i class="fa fa-pencil"></i> Change</button>
                <button type="button" class="btn btn-sm btn-danger passenger-delete-button" data-passenger="<%- idx %>"><i class="fa fa-user-times"></i> Delete</button>
            </div>
        </div>
    </div>
</script>

<div id="passenger_list"></div>

<div class="clearfix"></div>

<!-- Booking form -->

<form action="{% url 'authorise' %}" method="post" id="booking_form">

{% csrf_token %}

<input type="text" class="hidden" name="passengers" value="[]" pattern="^((\[\](?!$)).+|(?!\[\]).+)$" required oninvalid="this.setCustomValidity('Please add at least one passenger.')" id="passenger_data">

<section class="body col-md-12">
    <h2><strong>Contact</strong> Details.</h2>

    <div class="form-group">
        <label for="email">Email address</label>
        <input type="text" class="form-control" id="email" name="email" required placeholder="e.g. email@example.com">
        <p class="help-block">Used for journey-related updates only.</p>
    </div>

    <div class="form-group">
        <label for="contact_name">Contact name</label>
        <input type="text" class="form-control" id="contact_name" name="contact_name" required>
        <p class="help-block">The name you'd prefer us to use when contacting you via email.</p>
    </div>
</section>

<section class="body col-md-6">
    <h2><strong>Choose</strong> Your Price.</h2>

    <div class="form-group">
        <label for="price">Price</label>
        <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-gbp fa-2x"></i></div>
            <input type="number" class="form-control input-lg" id="price" name="price" required min="{{ minimum_price }}" placeholder="Amount (minimum £{{ minimum_price }} per passenger)">
        </div>
    </div>

    <div class="form-group">
        <label>Booking fee</label>
        <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-gbp fa-2x"></i></div>
            <input type="text" class="form-control input-lg" id="booking-fee" value="0" disabled>
        </div>
    </div>
</section>

<section class="body col-md-6">
    <h2><strong>Payment</strong> Methods.</h2>

    <div class="radio">
        <label title="Visa, MasterCard and American Express accepted">
            <input type="radio" name="payment_gateway" id="pay_creditcard" value="creditcard" checked>
            <img src="/static/images/visa.svg" alt="Visa" height="30">
            <img src="/static/images/mastercard.svg" alt="MasterCard" height="30">
            <img src="/static/images/amex.svg" alt="American Express" height="30">
        </label>
    </div>
    <div class="radio">
        <label title="PayPal">
            <input type="radio" name="payment_gateway" id="pay_paypal" value="paypal">
            <img src="/static/images/paypal.svg" alt="PayPal" height="30">
        </label>
    </div>
</section>

<section class="body col-md-8 col-md-offset-2 code-of-conduct">
    <div class="panel panel-default clearfix">
        <div class="panel-body">
            <h2><strong>Code</strong> of Conduct</h2>
            <p class="small"><em>Based on the <a href="http://trainjam.com/about" target="_blank">Train Jam code of conduct</a>. Many thanks to Adriel Wallick for letting me use this policy.</em></p>
            <p>To make this adventure a welcoming and enjoyable experience for everyone, attendees of <em><strong>A&nbsp;MAZE</strong> By Train</em> are expected to follow the following behavioural standards:</p>
            <ul>
                <li>Always acting out of respect and concern for the free expression of others.</li>
                <li>Actively listening to others and not dominating discussions.</li>
                <li>Respecting physical and emotional boundaries.</li>
                <li>Always ask before touching, and check in before discussing topics that may trigger emotional or mental discomfort to those around you.</li>
                <li>Not making assumptions about identity, experiences, or preferred pronouns.</li>
                <li>Not using words that are racist, sexist, transphobic, homophobic, classist, cissexist or ableist.</li>
                <li>Humbly accepting respectful correction (or correcting yourself!), keeping in mind that the impact of your words on other people is more important than your intent.</li>
            </ul>
        </div>
    </div>
</section>

<section class="body col-md-12 text-center">
    <p><label><input type="checkbox" name="coc" required value="1"> I have read and will follow the Code of Conduct.</label></p>
    <p><button type="submit" class="btn btn-primary btn-lg">Continue to Payment</button></p>
</section>

</form>

<script defer src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
<script defer src="https://checkout.stripe.com/checkout.js" id="stripe-js" data-key="{{ STRIPE_PUBLISHABLE_KEY }}"></script>
<script defer src="{% static 'payment.js' %}"></script>
{% endblock %}
