{% extends "base.html" %}
{% load staticfiles %}

{% block nav_contact %}active{% endblock %}

{% block heading %}

<section class="logo berlin">
    <h1><strong>Contact</strong> Me.</h1>

    <p>Send me an email at <a href="mailto:info@amazebytrain.com">info@amazebytrain.com</a> if you have any questions or need any help.</p>

    <p><em><strong>A&nbsp;MAZE</strong> By Train is organised by <a href="http://jonathanprior.com/">Jonathan Prior</a>.</em></p>
</section>

{% endblock %}
