{% extends "base.html" %}
{% load staticfiles %}

{% block nav_homepage %}active{% endblock %}

{% block heading %}
<section class="logo cologne">
    <h1><strong>A&nbsp;MAZE</strong> By Train.</h1>
    <h2 class="visible-sm-block visible-xs-block visible-md-inline visible-lg-inline">
        London to Berlin.
    </h2>
    <h2 class="visible-sm-block visible-xs-block visible-md-inline visible-lg-inline">
        18<small>th</small> and 24<small>th</small> April 2016.
    </h2>
</section>
{% endblock %}

{% block body %}
<section class="body col-md-6">
    <h1><strong>A&nbsp;MAZE</strong> By Train Returns.</h1>
    <p><em><strong>A&nbsp;MAZE</strong> By Train</em> is a group of people travelling from London to <a href="http://amaze-berlin.de/" title="A MAZE."><strong>A&nbsp;MAZE.</strong> / Berlin 2016</a>, taking trains all the way.</p>
    <p>After the resounding success of <a href="https://2015.amazebytrain.com/"><em><strong>A&nbsp;MAZE</strong> By Train</em> in 2015</a>, we're doing it again. This time, with an improved route, arriving at a sensible time of the morning, and better accommodation.</p>
    <p><img src="{% static 'images/thesign.jpg' %}" class="img-responsive" role="presentation"></p>
</section>

<section class="body col-md-6">
    <h1><strong>The</strong> Route.</h1>
    <p>Starting from <strong>London St. Pancras International</strong>, around lunchtime, you'll travel with us to <strong>Brussels</strong>, arriving mid-afternoon.</p>
    <p>From Brussels, we'll travel to Germany. In Germany, we'll find some time to sit and have dinner, and then we'll get on a sleeper train to <strong>Berlin</strong>, arriving at around <strong>7:00am</strong>.</p>
    <p>For the journey back to London, we'll leave in the morning, and take day trains back to London, arriving in the evening.</p>
</section>

<section class="body col-md-6">
    <h1><strong>Accommodation</strong>.</h1>
    <p>Standard sleeper accommodation during <em><strong>A MAZE</strong> By Train</em> consists of a 3-4 bed compartment. Single and double rooms are available for an additional fee.</p>
    <p>Wheelchair accessible travel is available at no extra cost. If you have any other accessibility needs, please let us know and we'll make arrangements.</p>
</section>
{% endblock %}
