{% load staticfiles %}<!DOCTYPE html>
{% url request.GET.to as to %}
<html lang="en-gb">

<head>
    <meta charset="utf-8">
    <title>Loading...</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:500,900italic,300,500italic,300italic,900">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    {% if to %}
    <noscript><meta http-equiv="refresh" content="1; url={{ to }}"></noscript>
    {% endif %}
</head>

<body>

<h1 class="text-center sr-only">Loading</h1>

<h2 class="text-center">
    <span class="pulser first"></span><span class="pulser second"></span><span class="pulser third"></span>
</h2>

<script>
(function (top, self, location) {
    "use strict";

    var qs = function (name) {
        var regexS, regex, results;
        name = name.replace(/[\[]/, "\\\[").replace(/[\]]/, "\\\]");
        regexS = "[\\?&]" + name + "=([^&#]*)";
        regex = new RegExp(regexS);
        results = regex.exec(location.href);
        if (results === null) {
            return "";
        } else {
            return results[1];
        }
    }

    if (top !== self) {
        top.location.replace(location);
    } else {
        if (qs("to") !== "") {
            setTimeout("location.replace('{{ to }}')", 1000);
        }
    }
}(window.top, window.self, window.location));
</script>
</body>

</html>
