{% extends "base.html" %}
{% load staticfiles %}

{% block nav_book %}active{% endblock %}

{% block heading %}
<h1 class="print-logo col-md-12 visible-print-block"><strong>A MAZE</strong> By Train.</h1>
<h1 class="col-md-12"><strong>Your</strong> Order.</h1>
{% endblock %}

{% block body %}
<div class="col-md-12">
<h2><strong>Payment</strong> Information.</h2>

<dl class="dl-horizontal">
    <dt>Transaction ID</dt>
    <dd>{{ order.transaction_id|upper }}</dd>
    <dt>Payment method</dt>
    <dd>{{ order.gateway_description|default:order.get_payment_gateway_display }}</dd>
    <dt>Order date</dt>
    <dd>{{ order.created|date:"r" }}</dd>
    <dt>Total charged</dt>
    <dd>£{{ order.total }}</dd>
    <dt>Contact name</dt>
    <dd>{{ order.name }}</dd>
    <dt>Contact email</dt>
    <dd>{{ order.email }}</dd>
</dl>

<h2><strong>The</strong> Passengers.</h2>

{% for passenger in order.passenger_set.all %}
<h3>{{ passenger.name }}</h3>

<dl class="dl-horizontal">
    <dt>Name on passport</dt>
    <dd>{{ passenger.passport_name|upper }}</dd>
    <dt>Mobile number</dt>
    <dd>{{ passenger.mobile }}</dd>
    <dt>Accommodation</dt>
    <dd>{{ passenger.get_ticket_type_display }}</dd>
    <dt>Other requirements</dt>
    <dd>{{ passenger.notes }}</dd>
</dl>

<div class="clearfix"></div>
{% endfor %}
</div>

<script>
window.sessionStorage.clear();
</script>
{% endblock %}
