{% extends "base.html" %}
{% load staticfiles %}

{% block nav_book %}active{% endblock %}

{% block heading %}
<h1 class="col-md-12"><strong>Your</strong> Order.</h1>
{% endblock %}

{% block body %}
<div class="col-md-12">
<p class="lead">Please enter your email address, so we can make sure it's you.</p>
</div>

<div class="col-md-offset-1 col-md-10">
    <form action="" method="post" class="form-horizontal">
        {% csrf_token %}

        <div class="form-group form-group-lg">
            <label for="email" class="col-sm-2 control-label">Email address</label>
            <div class="col-sm-10">
                <input type="email" name="email" class="form-control" id="email" placeholder="Email">
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-primary btn-lg">Show order</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}
