body {
    font-family: Roboto;
    font-weight: 300;
    font-size: 180%;
}

h1, h2, h3, h4 {
    font-family: Roboto;
    font-weight: 300;
    text-transform: uppercase;
    cursor: default;
}

h1 strong, h2 strong, h3 strong, h4 strong {
    font-weight: 900;
}

.panel-title {
    font-size: inherit;
}

.navbar {
    margin-bottom: 0;
}

.navbar-inverse {
    border-color: #222;
}

.logo.cologne {
    background-image: url("/static/images/kolnhbf.jpg");
}

.logo.berlin {
    background-image: url("/static/images/berlinhbf.jpg");
}

.logo.nottingham {
    background-image: url("/static/images/nottingham.jpg");
}

.logo {
    background-color: #000;
    background-size: 100% auto;
    background-repeat: no-repeat;
    color: #fff;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
    max-width: 2560px;
    padding: 70px 20px 400px 60px;
    cursor: default;
}

.logo h1, .logo h2 {
    margin: 0;
}

.logo h1, .print-logo {
    font-size: 325%;
}

.logo h2 {
    display: inline;
    margin-right: 30px;
}

.logo a {
    color: #fff;
    text-decoration: underline;
}

.booking-info {
    padding: 10px 0;
}

.booking-info .fa-4x {
    min-width: 62px;
    text-align: center;
}

.code-of-conduct {
    padding-top: 10px;
}

.code-of-conduct h2 {
    margin-top: 0;
}

.text-overflow {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

@keyframes pulse {
  0%   { opacity: 0; }
  50%  { opacity: 1; }
  100% { opacity: 0; }
}

.pulser {
    margin: 5px;
    background: #444;
    display: inline-block;
    width: 20px;
    height: 20px;
    opacity: 0;
    border-radius: 10px;
}

.pulser.first {
    animation: pulse 1s 0s infinite;
}

.pulser.second {
    animation: pulse 1s 0.25s infinite;
}

.pulser.third {
    animation: pulse 1s 0.5s infinite;
}

@media (max-width: 992px) {
    .logo.cologne {
        padding-bottom: 150px;
    }
}

@media (max-width: 767px) {
    .logo.cologne {
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 20px;
    }

    .logo.cologne h1 {
        font-size: 6.5vmax;
    }
    .logo.cologne h2 {
        font-size: 3.5vmax;
    }
}

@media (max-width: 617px) {
    .logo {
        background-size: auto 100%;
    }
}
